    <footer class="footer">
        <% if(title == 'Fræðslumyndbandaleigan') { %>
            <p class="footer-text">&copy;Fræðslumyndbandaleigan</p>
        <% } else { %>
            <a class="footer-text" href="/">Til Baka</a>
        <% } %>
    </footer>
</body>
</html>